@charset "utf-8";
/* CSS Document */


body{padding:0; margin:0; color:#333; font-size:1.5rem; background-color:#fff; font-family: 'Open Sans', sans-serif,Helvetica,Arial,sans-serif; text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;}
p, ul, li, h1, h2, h3{ padding:0; margin:0;text-rendering: optimizeLegibility;}
*{box-sizing:border-box;}

.banBG{background:url(../images/ban.png) no-repeat center; background-size: cover; width:100%; height:720px; display:block; position:relative;}
.aboutBG{background:url(../images/aboutban.png) no-repeat top left; background-size: cover; width:100%; height:420px; display:block; position:relative;}
.servicesBG{background:url(../images/servicesban.png) no-repeat top left; background-size: cover; width:100%; height:420px; display:block; position:relative;}
.contactBG{background:url(../images/servicesban.png) no-repeat bottom left; background-size: cover; width:100%; height:420px; display:block; position:relative;}
.header{background-color:#fff; width:100%; height:80px; position:relative; display: flex; align-items: center; color:#333;}
.header nav{padding:0; margin:0 auto; width:1020px;display: flex; align-items: center;}
.header nav a.logo{font-size:1.8rem; color:#fff; text-decoration:none; font-family: 'Ubuntu', sans-serif; width:300px; height:110px; display: flex; align-items: center; justify-content: center;}
.header nav ul{padding:0; margin:0; display:flex;justify-content: flex-end;flex: 1;flex-direction: row;}
.header nav ul li{padding:0; margin:0 50px 0 0; list-style-type:none;}
.header nav ul li a{color:#4f626d; text-decoration:none; cursor:pointer; font-size: 0.95rem;font-weight: 600;}
.header nav ul li a:hover{color: #333333; border-bottom: solid 3px #e83636;}

.header nav ul li a.activeLink{color: #333333; border-bottom: solid 3px #e83636;}


.bannerContent{margin:0 auto; color:#fff; font-size:2.5rem;font-family: 'Open Sans', sans-serif; text-align:center;}
.bannerText{display: flex;align-items: center; justify-content: center;flex-direction: column; line-height: 80px; height:440px;}
.bannerText p{ font-weight: 300;}
.aboutText{height:340px;}
.aboutText p{ font-size:5.5rem; font-weight:bold;}

.coursesMain{width: 1020px;margin: 0 auto;margin-top: 50px; position:relative;}
.coursesMain h2{font-size: 1.875rem; text-align: center;color: #033351; font-weight: 400;}
.courseList{display: flex;justify-content: center; align-items: center;}
.courseList ul{display: -webkit-flex;display: -ms-flexbox;display: flex; -webkit-align-items: center;-ms-flex-align: center;align-items: center; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;margin: 50px 0 0 0;justify-content: space-between;}

.courseList ul li{ width:320px; list-style-type:none; text-align:center;padding: 20px; margin: 0 0 60px 0; border: solid 1px rgba(255, 255, 255, 0);}
.courseList ul li:hover{ border:solid 1px #eee; box-shadow: 0px 0px 0px 1px #c4c4c4,0px 1px 8px 1px rgba(153,153,153,0.35); border-radius: 4px;cursor: pointer;}
.courseList ul li a{ text-decoration:none; color: #0371D0; font-size: 1.4rem;}
.courseList ul li p{font-size: 1rem;margin: 10px 0 0 0;}
.courseIcon{ margin:0 0 20px 0;}
.courseIcon svg{ height:90px; width:90px; fill: #c4c4c4;}
.courseIcon img{ height:90px; width:90px;}
.listMenu{ display:none;}

.bannerBlocks{display: flex;color: #000; background: rgba(77, 155, 197, 0.92); position: absolute; bottom: 0;width: 100%;}

.blocksMain{display: flex; margin: 0 auto; color: #fff; flex-wrap: wrap;}
.blocksMain div{ width: 500px; height: 230px; border-right: solid 1px #9abcce; font-size: 1.5rem; padding: 0; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.blocksMain div:last-child{border: none; }
.blocksMain div h3{font-size: 1.5rem;}
.blocksMain div p{font-size: 1.2rem; line-height:30px; margin:10px; 0 0 0;}


footer{background-image:url(../images/footerban.jpg); width:100%;display:block; position:relative; height: 300px; width: 100%; margin: 60px 0 0 0; color:#999;}

.footerMain{ width: 1020px; margin: 0 auto;padding: 40px 0 0 0; display: flex;justify-content: space-between;}
.footerLinks{}
.footerLinks ul{padding:0; margin:0;}
.footerLinks ul li{padding:0; margin:0 50px 0 0; list-style-type:none;}
.footerLinks ul li a{color:#999; text-decoration:none; cursor:pointer; font-size: 0.95rem;font-weight: 600;}
.footerLinks ul li a:hover{color:#b5b5b5;}
.allRights{ font-size:14px; text-align:center;position: absolute; bottom: 10px; left: 0; right: 0; border-top: solid 1px #666; padding: 20px; width: 55%; margin: 0 auto; margin-top: 30px;}

.aboutContent{ font-size:1.1rem; line-height:36px; margin:30px 0 70px 0; color: #666; font-weight: 300; display: flex;}
hr.horzLine{width: 80px; border: solid 1px #00a7ff; margin: 0 auto; margin-top: 20px;}
.keyPoints{ margin:20px 0 0 20px; width: 97%;}
.infoGraph img{ width:100%; min-width:500px;}

.devSerives{border: solid 1px #eee; box-shadow: 00px 0px 0px 0px #c4c4c4, 0px 1px 10px 0px rgba(153,153,153,0.25); border-radius: 4px; cursor: pointer;display: flex; flex-direction: column; align-items: center; margin: 0 40px 0 0; padding: 20px;
		    font-size: 1rem; min-width: 470px;
}
.devSerives h3{ font-size:1.2rem; padding:10px;}
.contactForm{ width:100%;}
.contactForm ul li{ list-style-type:none; margin:20px 0 0 0;}
.contactForm ul li input, textarea{ width:100%; height:40px; font-size:16px; color:#666;}
.contactForm ul li textarea{ height:150px;}
.submitButton{ width:100px; height:40px; border-radius:50px; background-color:#e55c2a; border:none; outline:none; cursor:pointer; color:#fff; font-size:1.1rem; -webkit-box-shadow: 0 4px 15px 0 rgba(236, 131, 1, .8)); -moz-box-shadow: 0 4px 15px 0 rgba(236, 131, 1, .8); box-shadow: 0 4px 15px 0 rgba(236, 131, 1, .8);}
.submitButton:hover{background-color: #fb5a20;}














@media screen and (max-width: 1520px){
	.allRights{width:75%}
}


@media screen and (max-width: 1020px){
	.coursesMain{width: 720px;}
	.bannerText{font-size: 2rem;line-height: 50px;}
	.footerMain{width: 720px;}
	.banBG{ height:900px;}
	.blocksMain div{border-right:none; border-bottom: solid 1px #9abcce; width: 60%;}
	.blocksMain{justify-content: center;}
	.aboutContent{ flex-wrap: wrap;justify-content: center;}
	.infoGraph{ margin: 30px 0 0 0;}
	.devSerives{ margin: 20px 0 0 0;}
	.allRights{width:92%}
}
@media screen and (max-width: 720px){
	.coursesMain{width: 620px;}
	.coursesMain section ul li{width:280px;}
	.bannerText{font-size: 1.5rem;line-height: 50px;}
	.footerMain{width: 620px;}
}
@media screen and (max-width: 780px){
	.coursesMain{width: 320px;}
	.coursesMain section ul{justify-content: center;}
	.headerMenuMain{display: flex; align-items: flex-end; justify-content: flex-end;
    flex: 1;}
	.headerMenu{ background: url(images/list-menu.svg) no-repeat; width:100px; height:30px;background-size: 100px 30px;fill: #94d31b;}
	.bannerText{font-size: 1.5rem;line-height: 50px;}
	.header nav ul {padding: 10px 0 0 0;flex-direction: column;}
	.headerNav{position: absolute; top: 70px; z-index: 99; background: #fff;width: 100%;left: 0;padding: 20px 0 20px 0;flex-direction: column;}
	.headerNav li { padding: 10px 0 10px 20px !important;}
	.headerNav li a{ font-size:0.9rem !important;}
	.blocksMain div{ width: 95%;}

footer{height:380px;}
.footerMain{width: 320px; flex-wrap: wrap; padding: 20px 0 0 0;}
.allRights{ width:95%;}
.infoGraph img{min-width:400px;}

}
/*@media screen and (max-width: 520px){
	.headerNav{display:none !important;}
}*/